#! Frontend
/frontend/node_modules
/frontend/.pnp
/frontend/.pnp.js
/frontend/coverage
/frontend/build
/frontend/.DS_Store
/frontend/.env.local
/frontend/.env.development.local
/frontend/.env.test.local
/frontend/.env.production.local
/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*

#! Backend
/backend/logs
/backend/*.log
/backend/npm-debug.log*
/backend/yarn-debug.log*
/backend/yarn-error.log*
/backend/lerna-debug.log*
/backend/.pnpm-debug.log*
/backend/report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
/backend/pids
/backend/*.pid
/backend/*.seed
/backend/*.pid.lock
/backend/lib-cov
/backend/coverage
/backend/*.lcov
/backend/.nyc_output
/backend/.grunt
/backend/bower_components
/backend/.lock-wscript
/backend/build/Release
/backend/node_modules/
/backend/jspm_packages/
/backend/web_modules/
/backend/*.tsbuildinfo
/backend/.npm
/backend/.eslintcache
/backend/.stylelintcache
/backend/.rpt2_cache/
/backend/.rts2_cache_cjs/
/backend/.rts2_cache_es/
/backend/.rts2_cache_umd/
/backend/.node_repl_history
/backend/*.tgz
/backend/.yarn-integrity
/backend/.env
/backend/.env.development.local
/backend/.env.test.local
/backend/.env.production.local
/backend/.env.local
/backend/.cache
/backend/.parcel-cache
/backend/.next
/backend/out
/backend/.nuxt
/backend/dist
/backend/.vuepress/dist
/backend/.temp
/backend/.cache
/backend/.docusaurus
/backend/.serverless/
/backend/.fusebox/
/backend/.dynamodb/
/backend/.tern-port
/backend/.vscode-test
/backend/.yarn/cache
/backend/.yarn/unplugged
/backend/.yarn/build-state.yml
/backend/.yarn/install-state.gz
/backend/.pnp.*
